/* ========= Base colors ======== */

$red: #FE7865;
$dark: #141517;
$white: #ffffff;
$gray: #E5E5E5;
$black: #000000;
$black-rock: #2c2e3f;
$dark-blue: #141517;
$orange: #fe7865;
$orange-hover: #f17d4b;
$footer-border: #D7D9DF;
$modal-background: #fbf8f8;
$mobile-header-text: #48494d;
$intro-background: #97b4de;

/* ========= Viewports ======== */

$mobile: 320px;
$tablet: 767px;
$desktop: 1023px;
